@import "~shared/styles/colors";
@import "~shared/styles/dimensions";

.filters {
  max-width: $max-container-width;
  width: $mobile-width;
  font-size: 2rem;
  color: $grey;

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 1rem;

    @include respond-to("portrait-phone") {
      flex-direction: row;
      align-items: center;
    }

    .tabs {
      display: flex;
      justify-content: stretch;
    }
  }

  .filtersPanel {
    padding: 2rem 4rem;
    background: white;

    .filters {
      border-radius: 2px;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      width: 100%;

      @include respond-to("portrait-phone") {
        gap: 1rem;
      }

      .vehicleCondition {
        display: flex;
        justify-content: center;
        gap: 3rem;
        width: 100%;

        @include respond-to("portrait-phone") {
          justify-content: flex-start;
        }
      }
    }

    .footer {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond-to("portrait-phone") {
        flex-direction: row;
        justify-content: space-between;
      }

      .advancedSearch {
        background: none;
        border: none;
        padding: 0;
        color: $red;
        font-size: 1.5rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 1rem 0 3rem;

        @include respond-to("portrait-phone") {
          margin: 0;
        }

        .chevronIcon {
          font-size: 1rem;
          margin-right: 4px;
        }
      }

      .actions {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;

        @include respond-to("portrait-phone") {
          width: auto;
          flex-direction: row;
        }

        .clearFilters {
          background: none;
          border: none;
          color: $grey;
          font-size: 1.5rem;
          cursor: pointer;
          transition: color 0.3s;
          padding: 0;

          &:hover {
            color: $red;
          }
        }

        .search {
          background: $red;
          color: white;
          padding: 1rem 2rem;
          height: 5rem;
          border: 0;
          font-size: 1.5rem;
          border-radius: 2px;
          font-weight: 700;
          cursor: pointer;
          transition: filter 0.3s;
          width: 100%;

          &:hover {
            filter: brightness(1.2);
          }

          @include respond-to("portrait-phone") {
            width: 32rem;
          }
        }
      }
    }
  }
}
